/*******************************************************************************
<<<<<<< HEAD
MeyerWeb Reset
*******************************************************************************/

body {
    background: url("../images/main_bg.jpg") no-repeat scroll center top #111015;
    font-family: 微软雅黑;
    font-size: 14px;
    height: 600px;
    min-width: 980px;
}

/* 主页面展示区域 */
.pagewrap {
    margin: -8px auto;
    position: relative;
    width: 1024px;
}

/* 页脚 */
.footbar_container {
    background: none repeat scroll 0 0 #0b0c0d;
    color: #61686f;
    font-family: Microsoft Yahei,Arial,Helvetica,sans-serif;
    font-size: 14px;
    height: 90px;
	position:absolute;
	bottom:0px;
	width:100%;
	left:0;
}
.footbar_container a {
    color: #61686f;
}
.footbar_container a:hover {
    color: #1593c5;
}
.footbar_main {
    margin: 0 auto;
    padding-top: 10px;
    text-align: center;
}
/* 头部 */
a, a:link, a:visited, a:hover, a:active {
    outline: 0 none;
    text-decoration: none;
}
a, a:link, a:visited, a:hover, a:active {
    outline: 0 none;
    text-decoration: none;
}
.header {
    background: url("../images/main_bg.jpg") no-repeat scroll center top rgba(0, 0, 0, 0);
    height: 130px;
    position: relative;
    width: 980px;
}
.header .logos {
    height: 86px;
    left: 0;
    position: absolute;
    top: 25px;
    width: 400px;
}
.header .logos a {
    display: block;
    float: left;
}
.header .logos a.logo {
    height: 74px;
    width: 300px;
}
.header .main-nav {
    height: 130px;
    position: absolute;
    right: 0;
    top: 0;
    width: 562px;
}
.header .main-nav a {
    bottom: 0;
    display: block;
    height: 130px;
    position: absolute;
    width: 200px;
}
.header .main-nav a:hover, .header .main-nav a.cur {
    background-image: url("../images/nav_cur.jpg");
}
.header .main-nav a.hero {
    background-position: -3px 0;
    left: 10px;
}
.header .main-nav a.items {
    background-position: -202px -132px;
    left: 209px;
}
.header .main-nav a.rules {
    background-position: -363px -264px;
    left: 370px;
}
/* 内容区域 */
.contenter {
	margin-top:160px;
	width:980px;  
}

.content-left {
	margin-right: 10px;
	width: 220px;
	height: 360px;
	float: left;
}
.content-left a {
    bottom: 0;
    display: block;
    height: 90px;
    width: 220px;
    left: 10px;
}
.content-left a.downloads:hover {
    background-position: 0 0;
}
.content-left a.downloads {
	background-image: url("../images/Downloads.png");
	background-position: 0px 120px;
	height: 120px;
    left: 10px;
}
.content-left img {
	margin-top: 10px;
}

.media {
	width: 500px;
	height: 360px;
	overflow: hidden;
	text-align: center;
	float: left;
	background:#000;
}

.content-right {
	margin-left: 10px;
	width: 240px;
	height: 360px;
	float: left;
}
.content-right a {
    bottom: 0;
    display: block;
    height: 90px;
    width: 220px;
    left: 10px;
}
.content-right a.heroes:hover {
    background-position: 0 0;
}
.content-right a.heroes {
	text-align: center;
	margin-top: 5px;
	background-image: url("../images/heroesBtn.png");
	background-position: 0px 80px;
	height: 80px;
    left: 10px;
}
